@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <form action="/Home/Index " method="post">
        <label>First</label>
        <input name="first" />
        <br/>
        <label>Second</label>
        <input name="second" />
        <br/>
        <label>Count</label>
        <input type="number" name="count" />
        <br/>
        <button type="submit">Create</button>
    </form>
</div>
